brick {
  I {
    color: #6495ed;
  }
  O {
    color: #ffff00;
  }
  T {
    color: #ea53ea;
  }
  S {
    color: #b42929;
  }
  Z {
    color: #008000;
  }
  L {
    color: #2bdb14;
  }
  J {
    color: #ecc544;
  }
  A{
    color: #e87d0a;
  }
}
