brick {
  I {
    color: #6495ed;
  }
  O {
    color: #ffff00;
  }
  T {
    color: #800080;
  }
  S {
    color: #b42929;
  }
  Z {
    color: #008000;
  }
  L {
    color: #ef6b81;
  }
  J {
    color: #ecc544;
  }
}
